h3{
    height: 60px;
    width: 780px;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px solid;
    border-color: rgb(60, 21, 231);
}

.denntaku{
    border: 10px solid;
    border-color: rgb(141, 136, 136);
    margin: 50px;
    border-radius: 8px;
    padding: 20px;
}

#display{
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    height: 80px;
    width: 800px;
    color: white;
    background-color: black;

}

.number,.clear,#eq {
    width: 100px;
    font-size: 50px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
    background-color: rgb(212, 209, 209);
}

.clear,#eq{
    width: 300px;
}

